<h1>{{ title }}</h1>
<table>
  <tr>
         <td>Rflight_no</td>
        <td>Rleg_no</td>
        <td>Rdate</td>
        <td>Seat_number</td>
        <td>C_name</td>
        <td>C_phone</td>
  </tr>
  {{#each seat_reservation}}
    <form method="post">
      <tr>
        <td>{{Rflight_no}}</td>
        <td>{{Rleg_no}}</td>
        <td>{{Rdate}}</td>
       <td>{{Seat_number}}</td>
        <td>{{C_name}}</td>
        <td>{{C_phone}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="delBtn"
            value={{Seat_number}} 
            formaction="/userdelete">
          삭제
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>
